/* Reset ul */
ul {
    padding: 0;
    margin: 0;
}


/* Produced by https://grid.layoutit.com/ */

.container {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 12px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        ". backlog sidebar"
        ". backlog sidebar"
        ". backlog sidebar";
}

.sidebar {
    grid-area: sidebar;
}

.backlog {
    grid-area: backlog;
}

/* Custom Code */

#add-new-event {}

#backlog {}

#events {}

.task-container, .event-container {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0px 2px 2px 0px #7b7b7b40;
}

.task-container, .event-container > ul {
    /* background-color: beige; */
    padding: 5px;
    padding-left: 26px;
}